nav {
    padding: 20px;
    background:linear-gradient(to right, #9000ff, blue, #9000ff);
}
nav a{
    text-decoration: none;
    list-style-type: none;
    padding: 130px;
    font-weight: 900;
    font-size: 20px;
}

img {
    width: 5cm;
    height: 120px;
}

h1{
    margin-left: 50px;
}

.ust p{
    margin-left: 50px;
}

.logo{
    font-size: 50px;
    padding: 20px;
}

.simkart{
    position: absolute;
    top: 390px;
    right: 330px;
    width: 50px;
    height: 80px;
/*     transform: rotate(-90deg); */
    z-index: 1;
}

#phone{
    position: absolute;
    width: 300px;
    height: 380px;
    top: 110px;
    right: 200px;
    z-index: 0;
}

.hipng{
    height: 40px;
    width: 40px;
    position: absolute;
}
.hipnglogo{
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}

.buton1{
    width: 160px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 50px;
}

.buton2{
    width: 160px;
    height: 50px;
    background-color: #9000ff;
    color: white;
    margin-left: 15px;
    border-radius: 10px;
}
.header1{
    font-size: 50px;
}

.ust{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 70px;
}

.ust2{
    font-weight: 20px;
}

.altbuton{
    width: 160px;
    height: 40px;
    background-color: #9000ff;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.woman {
    position: absolute;
    right: 30px;
    bottom: 1.5px;
    width: 300px;
    height: 400px;
}

div{
    display: flex;
    margin-left: 120px;
}

footer{
    background-color:#9000ff;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    background:linear-gradient(to right, #9000ff, blue, #9000ff);
}

a{
    color: white;
}


.deal-badge {
  position: absolute;
  left: 1080px;
  top: 390px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  border: 8px solid #7b5ce0;
  text-align: center;
  z-index: 3;
}
.deal-badge span {
  transform: rotate(-20deg);
}

#kare1{
    width: 15px;
    height: 5px;
    background-color: #920de6;
    position: absolute;
    top: 210px;
    left: 8px;

}

#kare2{
    width: 15px;
    height: 5px;
    background-color: #605b9f;
    position: absolute;
    top: 210px;
    left: 28px;
}

#kare3{
    width: 15px;
    height: 5px;
    background-color: #c1bff0;
    position: absolute;
    top: 210px;
    left: 48px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}