h1 {
    font-family: Arial, sans-serif;
}
h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

p {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
}