*{
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 5px;
}

.stage {  
    position: relative;
    cursor: pointer;
    
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;    
   overflow: hidden;    
}

.bannerSize{ 
width: 300px; 
height: 250px; 
}

h1{
    font-weight: 200px;
}

h2{
    margin-top: -20px;
}

p{
    margin-top: -10px;
}

.hipng{
    height: 30px;
    width: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -5px;
}
body{
    width: 300px;
    height: 250px;
    margin: 0;
    overflow: hidden;
    background-color: black;
    color:white;
}

#simkart{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    margin-right: 30px;
    margin-top: 30px;
}

ul{
    margin-left: -10px;
    margin-top: -5px;
}
.buton1{
    font-size: small;
    border-radius: 10px;
    color: white;
    width: 130px;
    background-color: #7272dd;
    border-color: white;
    margin-left: 170px;
    text-shadow: none;
    box-shadow: none;
    border: 2px white solid;
    padding: 10px;
}

.circle{
    background-color: #7272dd;
    width: 350px;
    height: 300px;
    border-radius: 9999px;
    margin-top: -80px;
    margin-left: 120px;
}


#kare1{
    width: 15px;
    height: 5px;
    background-color: #920de6;
    position: absolute;
    top: 0px;
    left: 0px;

}

#kare2{
    width: 15px;
    height: 5px;
    background-color: #605b9f;
    position: absolute;
    top: 0px;
    left: 20px;
}

#kare3{
    width: 15px;
    height: 5px;
    background-color: #c1bff0;
    position: absolute;
    top: 0px;
    left: 40px;
}